<section>
  <fieldset>
      <label >Ingrese Rut</label>
      <input type="text" maxlength="11"  [value]="alumno.rut" (input)="cRut($event)">
  </fieldset>
  <fieldset>
      <label >Ingrese el nombre del Alumno</label>
      <input type="text" [value]="alumno.nombre" (input)="cNombre($event)">
  </fieldset>
  <fieldset>
    <label >Ingrese el Apellido del Alumno</label>
    <input type="text" [value]="alumno.apellido" (input)="cApellido($event)">
</fieldset>
  <fieldset>
      <label >Ingrese edad del alumno </label>
      <input type="number" [value]="alumno.edad" (input)="cEdad($event)">
  </fieldset>
  <fieldset>
    <label >Seleccione la Seccion</label>
    <select [value]="alumno.seccion" (change)="cSeccion($event)">
        <option
            *ngFor="let variable of scn"
            [value]="variable"
        >
            {{variable}}
        </option>
    </select>
</fieldset>
  <fieldset>
      <button type="button" (click)="guardarElemento()">Registrar</button>
  </fieldset>
</section>
